
* {
    font-family: Helvetica, Arial, sans-serif;
}

:root {
    --color-highlight: #343438;
    --color-text-default: #333;
    --color-text-alternate: #ddd;
}

html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}


header {
    top: 0;
}

header, footer {
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 6px 0 6px;
    line-height: 60px;
    background-color: var(--color-highlight);
    color: var(--color-text-alternate);
    z-index: 999999;
}

a, a:visited {
    text-decoration: none;
}

footer {
    bottom: 0;
}

.site-brand {
    font-weight: bold;
    color: var(--color-text-alternate);
}

.viewport-page {
    min-height: 100vh;
    padding: 65px 0 0 180px;
}

.color-default {
    color: var(--color-text-default);
}

#menu {
    position: fixed;
    top: 100px;
    left: 0;    
}

.menu-item {
    display: block;
    text-align: right;
    padding-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size: 20pt;
    color: var(--color-text-alternate);
    width: 180px;
    line-height: 50px;
    background-color: var(--color-highlight);
    border-radius: 0 10px 10px 0;
    margin: 3px 0 3px -50px;

    transition: all 0.2s ease;
}

.menu-item:hover {
    transform: skewX(0);
    margin: 3px 0 3px -20px;
}

#aboutPage {
    background: 
        linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)) no-repeat fixed center,
        url('../resources/alan-turing.jpg') no-repeat fixed center;
    background-size: cover;
}