
* {
    font-family: Helvetica, Arial, sans-serif;
}

:root {
    --color-highlight: #343438;
    --color-text-default: #333;
    --color-text-alternate: #ddd;
}

html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

header, footer {
    left: 0;
    right: 0;
    padding: 0 6px 0 6px;
    line-height: 60px;
    background-color: var(--color-highlight);
    color: var(--color-text-alternate);
    z-index: 999999;
}

.reference {
    width: 49%;
    display: block;
    margin: 2px;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
}

header {
    position: absolute;
    top: 0;
    background: 
        linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)) no-repeat fixed center;
}


a, a:visited {
    text-decoration: none;
}

footer {
    bottom: 0;
    height: 10vh;
}

.site-brand {
    font-weight: bold;
    color: var(--color-text-alternate);
    font-size: 2rem;
    font-family: monospace;
}

.viewport-page {
    min-height: 100vh;
    padding: 65px 0 0 180px;
}

.color-default {
    color: var(--color-text-default);
}

#menu {
    position: fixed;
    top: 100px;
    left: 0;    
}

.menu-item {
    display: block;
    text-align: right;
    padding-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size: 20pt;
    color: var(--color-text-alternate);
    width: 180px;
    line-height: 50px;
    background-color: var(--color-highlight);
    border-radius: 0 10px 10px 0;
    margin: 3px 0 3px -50px;

    transition: all 0.2s ease;
}

.menu-item:hover {
    transform: skewX(0);
    margin: 3px 0 3px -20px;
}

#aboutPage {
    background: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) no-repeat fixed center,
        url('../resources/alan-turing.jpg') no-repeat fixed center;
    background-size: cover;

    text-shadow: 2px 2px 2px black;
    color: #dedede;
}

#homePage {
    background: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) no-repeat fixed center,
        url('../resources/alan-turing.jpg') no-repeat fixed center;
    background-size: cover;

    
    text-shadow: 2px 2px 2px black;
    color: #dedede;
    font-size: 20px;
}

#homePage p {
    position: absolute;
}

#quote2 {
    bottom: 50px;
    right: 30px;
}

#quote1 {
    top: 70px;
    right: 30px;
}

#siteName {
    bottom: 25vh;
    width: 98vw;
    left: 0;
    font-size: 120px;
    font-family: monospace;
    text-align: center;
}

#siteDescription {
    bottom: 30vh;
    width: 98vw;
    left: 0;
    font-size: 30px;
    font-family: monospace;
    text-align: center;
}


#aboutPage p {
    font-size: 1.5vw;
    line-height: 30px;
    margin: 50px;
}

#contactPage {
    padding: 0 0 0 180px;
    height: 90vh;
}